@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body{
height: 100%;
width: 100%;
font-family: 'Open Sans', sans-serif;
color: #222;
}



 .navbar-nav li {

 	padding-right: 20px;
 }


/*import bootstrap scss*/

$theme-colors:(
"primary":red,
"secondary":#07375E,	
// 042D70
// #75C2CE light blue
);

// $border-radius: 16px;

@import '../../node_modules/bootstrap/scss/bootstrap';



$blue: #007bff;
$white: #FCFCFC;
$light-gray: #BFADA3;
$dark-gray: #31393C;
$yellow:#F3F7A5;


// Common to all pages
.navbar{
	position: fixed;
	z-index: 100;
	width: 100%;
.navbar-nav {
	
.nav-item.active .nav-link {
	
color: green;
background-color: lightgray;

}	

.nav-item .nav-link {
color: green;
// border: 1px solid $light-gray;
// border-radius: 16px;
	// border-color: $light-gray;
	font-size: 1.1em !important;

&:hover {
background-color: $light-gray;
}
&:active {
color: $dark-gray;
background-color: $light-gray;
}
}
}
}
.navbar .navbar-brand {
	color: red;

}


.carousel-inner img{
	background-size: cover;
	width: 100vw;
	height: 100vh;

}

.card-body .card-title {
	color: orange;

}

.card-body .card-text{
	color: orange;

}

.card-body .modal-title {
	color: red;

}



.padding{
	padding: 0;
}

.margin {

	margin-bottom: 0;
}





.burger{

height: 50px;



}

.background{

	background-image: url("../images/background.jpeg");
	}

.gallery {
padding: 0;
border-radius: 16px;

}
.font {


font-size: 30px;
}

@media (max-width:992px){

}
@media (max-width:782px){

}
@media (max-width:576px){

}

